.table {
    text-align: left;
}

.table a {
    text-decoration: none;
    display: block;
    padding: 25px;
}

.price {
    color: darkgreen;
}

.discount {
    color: firebrick;
}

.query {
    color: orange;
}